{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
<style>   
.table th, .table td { 
text-align: center; 
}
.widget-content .dataTables_filter{
position:static;
}
</style>
{% endblock %}
{% block title %}申请列表{% endblock %}
{% block breadcrumb %}<a href="/project/applylist">申请列表</a>{% endblock %}

<!--主体内容-->
{% block row %}

<div class="widget-box">
  <div class="widget-title">
	  <span class="icon"> <i class="icon-th"></i></span>
      <h5>申请列表</h5>
  </div> <!--end widget-title-->
</div>  


<!--add modal emulation-->
<div id="add_emulation" class="modal hide fade">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">仿真发布</h4>
      </div><!--modal-header end-->
   
    <div class="modal-body">
    <p hidden id="errorMsg" class="text-danger" style="color:red"></p> <!-- foe error msg-->
    <form class="form-horizontal" id="addForm">
        <input id='project_id' type="hidden" name='project_id'>
        
        <div class="form-grop">
            <label class="control-label">版本号</label>
            <div class="controls">
                <input id='version' type='text' name='version'>
            </div>
        </div>
        <div class="form-group">
            <div class="modal-footer">
                <button class="btn btn-primary" >仿真发布</button>
                <button class="btn btn-warning" data-dismiss="modal">退出</button>
            </div>
      </div><!--button end-->
    </form><!--form end-->
    </div> <!--modal body  end-->
</div><!--add modal emulation end-->


<!--apply list detail-->
<div id="apply_detail" class="modal hide fade">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">申请详情</h4>
      </div><!--modal-header end-->
   
    <div class="modal-body">
    <p hidden id="errorMsg" class="text-danger" style="color:red"></p> <!-- foe error msg-->
    <form class="form-horizontal" id="addForm">
        <div class="form-grop">
            <label class="control-label">项目名</label>
            <div class="controls">
                <input id='project_id' type='text' name='project_id'>
            </div>
        </div>

        <div class="form-grop">
            <label class="control-label">发布简介</label>
            <div class="controls">
                <input id='info' type='text' name='info'>
            </div>
        </div>
        
        <div class="form-grop">
            <label class="control-label">发布详情</label>
            <div class="controls">
                <input id='detail' type='text' name='detail'>
            </div>
        </div>
        <div class="form-grop">
            <label class="control-label">代码最新版本</label>
            <div class="controls">
                <input id='commit' type='text' name='commit'>
            </div>
        </div>
        <div class="form-grop">
            <label class="control-label">申请者</label>
            <div class="controls">
                <input id='applicant' type='text' name='applicant'>
            </div>
        </div>
        <div class="form-group">
            <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal">退出</button>
            </div>
      </div><!--button end-->
    </form><!--form end-->
    </div> <!--modal body  end-->
</div>


<div class="widget-content">
   <table id ="datatable"  class="table table-bordered table-striped">
	<thead>
		<tr>
            <th scope="col">项目名</th>
			<th scope="col">最新版本</th>
            <th scope="col">申请人</th>
            <th scope="col">申请时间</th>
            <th scope="col">发布状态</th>
            <th scope="col">操作</th>
        </tr>
    </thead> 
    <tbody>
    </tbody>
   </table>
</div> <!--widget-content-->

</div> <!--widget-box end-->
{% endblock %}

{% block js %}

<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>
/* list all data */
function list(){
    var url = "/listapi?method=apply"
    $.getJSON(url,function(data){
      // data = data['result']  //string
       data=JSON.parse(data['result']); //object 
       console.log(data)   //Object {count: 3, code: 0, result: Array[3]}
       var count =  data['count']     
       var str = ''
       $.each(data.result,function(k,v){   //循环输出数组Array[3]的值
           console.log(v)   //Object {idc_id: 1, u_num: 32, id: 1, power: "20A", name: "O04"} 
           str +='<tr class="odd gradeX">'+ 
           '<td>'+v['project_name']+'</td>'+  
           '<td>'+v['commit']+'</td>'+  
           '<td>'+v['applicant_name']+'</td>'+  
           '<td>'+v['apply_date']+'</td>'+ 
           '<td>'+v['apply_status']+'</td>'+ 
           '<td>'+
           '<button class="btn btn-info btn-sm emulation-btn" project_id="'+v['project_id']+'"  data-id="'+v['id']+'">仿真</button>'+
           '<button class="btn btn-success btn-sm product-btn" project_id="'+v['project_id']+'" data-id="'+v['id']+'">正式</button>'+
           '<button class="btn btn-danger btn-sm cancel-btn" project_id="'+v['project_id']+'" data-id="'+v['id']+'">取消</button>'+
           '<button class="btn btn-primary btn-sm detail-btn" project_id="'+v['project_id']+'" data-id="'+v['id']+'">详情</button>'+
           '</td>'+ 
           '</tr>'          
       })       
         $("tbody").html(str)
		datatable()
    })
}
list()
/* DataTable */
function datatable(){
$('#datatable').DataTable({
	"bDestroy":true,
    "language": {
        "lengthMenu": "每页 _MENU_ 条记录",
        "zeroRecords": "没有找到记录",
        "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
        "infoEmpty": "无记录",
        "infoFiltered": "(从 _MAX_ 条记录过滤)",
        "sSearch": "搜索:",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "末页"
        }
    }
});
}

//弹出仿真模态串口
$('tbody').on('click','.emulation-btn', function(){
    var project_id = $(this).attr('project_id')
    var id = $(this).attr('data-id')
    alert(id)
    var  url = "/getapi?method=apply&id="+id
    $.getJSON(url,function(data){
        console.log(data)
        data = JSON.parse(data['result'])
        if (data['code']==0){
            $('#project_id').val(data['result']['project_id'])
        }else{
            swal("OMG",data['errmsg'],"error");
        }
    })
    $('#add_emulation').modal('show')
})

//弹出详细按钮页面
$("tbody").on('click','.detail-btn',function(){
    var id = $(this).attr('data-id')
    detail(id)
})
//详情按钮信息页面
function detail(id){
    var url = "/getapi?method=apply&id="+id
    var str = ''
    $.getJSON(url,function(data){
        data = JSON.parse(data.result)
        console.log(data.result)
        $.each(data,function(k,v){
            if (v!=0){
            str += '项目名: ' + v['project_name']+'      发布简介: '+v['info']+
                '     发布版本: ' + v['version'] + '     代码最新版本: '+v['commit']+
                '     申请者: '+v['applicant_name'] + '    申请时间: '+v['apply_date']+
                '     发布状态: '+v['apply_status']+'     发布详情: '+v['detail']
            }
        })
        swal(str)
    })
    
}
</script>
{% endblock %}
