{% extends "base.html" %}
{% block css %}
<link rel="stylesheet"  href="/static/css/jquery.dataTables.min.css">
<style>   
.table th, .table td { 
text-align: center; 
}
.widget-content .dataTables_filter{
position:static;
}
</style>
{% endblock %}
{% block title %}机柜管理{% endblock %}
{% block breadcrumb %}<a href="/cmdb/cabinet">机柜管理</a>{% endblock %}

<!--主体内容-->
{% block row %}

<div class="widget-box">
  <div class="widget-title">
	  <span class="icon"> <i class="icon-th"></i></span>
      <h5>机柜管理</h5>
      <button style='float:right;' class="btn btn-primary btn-sm" id="addBtn">添加机柜</button>
  </div> <!--end widget-title-->

<!--add modal-->                                                                                 
<div id="addModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">添加机柜</h4>
	  </div><!--modal-header end-->

      <div class="modal-body">
     <p hidden id="errorMsg" class="text-danger" style="color:red"></p> <!-- foe error msg-->
     <form class="form-horizontal" id="addForm">
     	<div class="form-group">
            <label class="control-label">机柜名</label>
     		 <div class="controls">
       		 	<input id="name"  type="text"  name="name" >
      		</div> 
       	</div> <!--add name end-->
     	<div class="form-group">
            <label class="control-label">机房</label>
     		 <div class="controls">
       			<select name="idc_id"  id="idc">
				</select> 
      		</div> 
       	</div> <!--add idc_id -->
        <div class="form-group">
            <label class="control-label">U位</label>
      		<div class="controls">
       			<input id="u_num" type="text"  name="u_num" >
      		</div> 
		</div><!--add u_num  end -->
        <div class="form-group">
            <label class="control-label">电量</label>
      		<div class="controls">
       			<input id="power" type="text"  name="power" >
      		</div> 
		</div><!--add power  end -->
    	<div class="form-group">
     		<div class="modal-footer">
                <button class="btn btn-primary" >添加</button>
				<button class="btn btn-warning" data-dismiss="modal">退出</button>
         	</div>
      </div><!--button end-->
    </form><!--form end-->

   </div> <!--modal body end-->
</div><!-- /.modal -->
  


<!--update modal-->                                                                                 
<div id="updateModal" class="modal hide fade">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">机柜管理</h4>
	  </div><!--modal-header end-->

      <div class="modal-body">
     <p hidden id="uperrorMsg" class="text-danger" style="color:red"></p> <!-- foe error msg-->
     <form class="form-horizontal" id="updateForm">
         <input type="hidden" id='upid' name="id">  <!--update need id-->
     	<div class="form-group">
            <label class="control-label">机柜名</label>
     		 <div class="controls">
       		 	<input id="upname"  type="text"  name="name" >
      		</div> 
       	</div> <!--update name end-->
     	<div class="form-group">
             <label class="control-label">机房</label>
     		 <div class="controls">
        			<select name="idc_id"  id="upidc">
				    </select> 
      		</div> 
       	</div> <!--update idc_id -->
        <div class="form-group">
             <label class="control-label">U位</label>
      		<div class="controls">
       			<input id="upu_num" type="text"  name="u_num" >
      		</div> 
		</div><!--update u_num  end -->
        <div class="form-group">
             <label class="control-label">电量</label>
      		<div class="controls">
       			<input id="uppower" type="text"  name="power" >
      		</div> 
		</div><!--update power  end -->
    	<div class="form-group">
      		<div class="modal-footer">
				<button class="btn btn-primary" >更新</button>
				<button class="btn btn-warning" data-dismiss="modal">退出</button>
         	</div>
      </div><!--button end-->
    </form><!--form end-->

   </div> <!--modal body end-->
</div><!-- /.modal -->

<div class="widget-content">
   <table id ="datalist"  class="table table-bordered table-striped">
	<thead>
		<tr>
            <th scope="col">机柜名</th>
			<th scope="col">机房</th>
            <th scope="col">U位</th>
            <th scope="col">电量</th>
             <th  scope="col">操作</th>
         </tr>
    </thead> 
    <tbody>
     </tbody>
   </table>
</div> <!--widget-content-->

</div> <!--widget-box end-->
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>
var name=window.location.pathname.split('/').pop()
/* DataTable */
function datatable(){
$('#datalist').DataTable({
	"bDestroy":true,
   "language": {
        "lengthMenu": "每页 _MENU_ 条记录",
        "zeroRecords": "没有找到记录",
        "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
        "infoEmpty": "无记录",
        "infoFiltered": "(从 _MAX_ 条记录过滤)",
        "sSearch": "搜索:",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "末页"
        }
    }  
});
} /* datatable  end*/

/*list idc_id,idc_name for cabinet*/
var idc_arry = {}
var idc_select=''
var url = "/listapi?method=idc"
$.ajaxSettings.async = false;  
$.getJSON(url,function(data){
    data = JSON.parse(data['result'])
    $.each(data.result,function(k,v){
       idc_arry[v['id']]=v['name']
       idc_select +='<option value="'+v['id']+'">'+v['name']+'</option>' 
    })
}) 

//console.log(idc_select)

/* list all data */
function list(){
    var url = "/listapi?method="+name
    $.getJSON(url,function(data){
      // data = data['result']  //string
       data=JSON.parse(data['result']); //object 
       console.log(data)   //Object {count: 3, code: 0, result: Array[3]}
       var count =  data['count']     
       var str = ''
       $.each(data.result,function(k,v){   //循环输出数组Array[3]的值
           str +='<tr class="odd gradeX">'+ 
           '<td>'+v['name']+'</td>'+  
           '<td>'+idc_arry[v['idc_id']]+'</td>'+  
           '<td>'+v['u_num']+'</td>'+  
           '<td>'+v['power']+'</td>'+ 
           '<td>'+
           '<button class="btn btn-primary btn-sm update-btn" data-id="'+v['id']+'">更新</button>'+
           '<button class="btn btn-danger btn-sm delete-btn" data-id="'+v['id']+'">删除</button>'+
           '</td>'+ 
           '</tr>'          
       })  //cabinet list end
         $("tbody").html(str)
         datatable()
    })
}
list()
/*  add data */
/*click show modal*/
$('#addBtn').on('click',function(){
		$('#addModal').modal('show')
        $('#idc').html(idc_select)

})
/* add data for ajax */ 
$('#addForm').on('submit',function(){
	   var str = $('#addForm').serialize()
       var data = {"method":name,"formdata":str}
	   $.post("/addapi",data,function(data){
	     //console.log(data)    //string
         data = JSON.parse(data)  //object
         data = JSON.parse(data['result']) //object
         if (data['code']==0){
			  swal({
						title:"添加成功",
						type: "success",
						confirmButtonText: "Cool"
					},function(){                    
						$('#addModal').modal('hide')
						list()
						location.reload()
					})  //end swal
         }else{
		    $('#errorMsg').html('Failed:'+data['errmsg']).show()
         }
    }) //end post
	   return false
})  //submit form

/*get one data from id for update*/

$('tbody').on('click','.update-btn',function(){
    $('#upidc').html(idc_select)
	$('#updateModal').modal('show')  //show modal
	var id = $(this).attr('data-id')
    var url = "/getapi?method="+name+"&id="+id
	$.getJSON(url,function(data){
      data = JSON.parse(data['result'])
      if (data['code']==0){
          $('#upid').val(data['result']['id'])
          $('#upname').val(data['result']['name'])
          $('#upu_num').val(data['result']['u_num'])
          $('#upidc').val(data['result']['idc_id'])
           $('#uppower').val(data['result']['power'])
      }else{
          swal("OMG!",data['errmsg'], "error"); 
      }
	})
})

/*update data*/
$('#updateForm').on('submit',function(){
var str = $('#updateForm').serialize()
var data = {'method':name,'formdata':str}
$.post('/updateapi',data, function(data){  // data is string
    data = JSON.parse(data)    //object
    data = JSON.parse(data['result']) //object
    if (data['code']==0){   
		swal({ 
			 title: "更新成功!", 
			 text: data['result'],   
			 type: "success",   
			 confirmButtonText: "Cool"
		 },function(){               
			$('#updateModal').modal('hide')
			list()
			location.reload()
		});
    }else{
		$('#uperrorMsg').html('Failed:'+data['errmsg']).show()
    }
})  //end post
    return false   //get data and end
})  //submit form

/*delete cmdb 删除的操作几乎没有，web界面不提供删除接口，真需要删除走api*/
$("tbody").on('click','.delete-btn',function(){
	if(confirm("Are you sure delete")){
        var that = this;
		var id = $(this).attr('data-id')
        var url = "/deleteapi?method="+name+"&id="+id
		$.getJSON(url,function(data){
      		data = JSON.parse(data['result'])
			if (data['code']== 0 ){
                 swal({ 
                          title: "删除成功", 
                          text: data['result'],   
                          type: "success",   
                          confirmButtonText: "Cool"    
                      },function(){               
                         $(that).parents('tr').remove();
                        list()
                        location.reload()
                });
            }else{
                swal("OMG!", data['errmsg'], "error"); 	
            }
    })  //end getJSON
}  // end confirm
    return false   //get data and end
})   
</script>
{% endblock %}
