{% extends "base.html" %}
{% block css %}
<link rel="stylesheet"type="text/css"href="/static/css/jquery.dataTables.min.css">
<style>   
.table th, .table td { 
text-align: center; 
}
.widget-content .dataTables_filter{
position:static;
}
</style>
{% endblock %}
{% block title %}Git项目管理{% endblock %}
{% block breadcrumb %}<a href="/cmdb/idc">Git项目管理</a>{% endblock %}

<!--主体内容-->
{% block row %}

<div class="widget-box">
  <div class="widget-title">
	  <span class="icon"> <i class="icon-th"></i></span>
      <h5>Git项目管理</h5>
      <button style='float:right;' class="btn btn-primary btn-sm" id="addBtn">添加项目</button>
  </div> <!--end widget-title-->

<!--add modal-->                                                                                 
<div id="addModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">添加项目</h4>
	  </div><!--modal-header end-->

      <div class="modal-body">
     <p hidden id="errorMsg" class="text-danger" style="color:red"></p> <!-- foe error msg-->
     <form class="form-horizontal" id="addForm">
     	<div class="form-group">
            <label class="control-label">Git项目名称</label>
     		 <div class="controls">
				<input id='project_name' type='text' name='name'>
      		</div> 
       	</div> <!--add project name -->
		<div class='form-group'>
			<label class='control-label'>仓库路径</label>
			<div class='controls'>
				<input id='project_path' type='text' name='path'>
			</div>
		</div><!--add project path-->
		<div class='form-group'>
			<label class='control-label'>负责人</label>
			<div class='controls'>
				<select name='principal' id='add_principal' class='user_list'>
						<option value='test'>test</option>
				</select>
			</div>
		</div><!--add principal -->
		<div class='form-group'>
			<label class='control-label'>状态</label>
			<div class='controls'>
			<select name='is_lock'>
				<option value=0>正常</option>
				<option value=1>锁定</option>
			</select>
			</div>
		</div> <!--add status-->
		<div class='form-group'>
			<label class='control-label'>RW+_用户权限</label>
			<div class='controls'>
				<select name='user_all_perm' class='user_list'   multiple='multiple'>
				</select>
			</div>
		</div> <!--add user_all_perm-->
		
		<div class='form-group'>
			<label class='control-label'>RW+_组权限</label>
			<div class='controls'>
				<select name='group_all_perm' class='groups_list'  multiple='multiple'>
				</select>
			</div>
		</div> <!--add group_all_perm-->

		<div class='form-group'>
			<label class='control-label'>RW_用户权限</label>
			<div class='controls'>
				<select name='user_rw_perm' class='user_list'  multiple='multiple'>
				</select>
			</div>
		</div> <!--add user_rw_perm-->

		<div class='form-group'>
			<label class='control-label'>RW_组权限</label>
			<div class='controls'>
				<select name='group_rw_perm' class='groups_list'  multiple='multiple'>
				</select>
			</div>
		</div> <!--add group_rw_perm-->

		<div class='from-group'>
			<label class='control-label'>comment</label>
			<div class='controls'>
				<textarea  rows='3' name='comment'></textarea>
			</div>
		</div>
    	<div class="form-group">
     		<div class="modal-footer">
                <button class="btn btn-primary" >添加</button>
				<button class="btn btn-warning" data-dismiss="modal">退出</button>
         	</div>
      </div><!--button end-->
    </form><!--form end-->

   </div> <!--modal body end-->
</div><!-- /.modal -->
  


<!--update modal-->                                                                                 
<div id="updateModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Git管理</h4>
	  </div><!--modal-header end-->

      <div class="modal-body">
     <p hidden id="uperrorMsg" class="text-danger" style="color:red"></p> <!-- foe error msg-->
     <form class="form-horizontal" id="updateForm">
        <input type="hidden" id='upid' name="id">  <!--update need id-->
     	<div class="form-group">
            <label class="control-label">Git项目名称</label>
     		 <div class="controls">
				<input id='up_project_name' type='text' name='name'>
      		</div> 
       	</div> <!--update project name -->
		<div class='form-group'>
			<label class='control-label'>仓库路径</label>
			<div class='controls'>
				<input id='up_project_path' type='text' name='path'>
			</div>
		</div><!--update project path-->
		<div class='form-group'>
			<label class='control-label'>负责人</label>
			<div class='controls'>
				<select name='principal' id='up_principal_sel'>
						<option value='test'>test</option>
				</select>
			</div>
		</div><!--update principal -->
		<div class='form-group'>
			<label class='control-label'>状态</label>
			<div class='controls'>
			<select name='is_lock'>
				<option value=0>正常</option>
				<option value=1>锁定</option>
			</select>
			</div>
		</div> <!--update status-->
		<div class='form-group'>
			<label class='control-label'>RW+_用户权限</label>
			<div class='controls'>
				<select name='user_all_perm' id='up_u_all_sel'   multiple='multiple'>
				</select>
			</div>
		</div> <!--update user_all_perm-->
		
		<div class='form-group'>
			<label class='control-label'>RW+_组权限</label>
			<div class='controls'>
				<select name='group_all_perm' id='up_g_all_sel'  multiple='multiple'>
				</select>
			</div>
		</div> <!--update group_all_perm-->

		<div class='form-group'>
			<label class='control-label'>RW_用户权限</label>
			<div class='controls'>
				<select name='user_rw_perm' id='up_u_rw_sel'  multiple='multiple'>
				</select>
			</div>
		</div> <!--update user_rw_perm-->

		<div class='form-group'>
			<label class='control-label'>RW_组权限</label>
			<div class='controls'>
				<select name='group_rw_perm' id='up_g_rw_sel'  multiple='multiple'>
				</select>
			</div>
		</div> <!--update group_rw_perm-->

		<div class='from-group'>
			<label class='control-label'>comment</label>
			<div class='controls'>
				<textarea  id='up_comment' rows='3' name='comment'></textarea>
			</div>
		</div>

    	<div class="form-group">
     		<div class="modal-footer">
				<button class="btn btn-primary" >更新</button>
				<button class="btn btn-warning" data-dismiss="modal">退出</button>
         	</div>
      </div><!--button end-->
    </form><!--form end-->

   </div> <!--modal body end-->
</div><!-- /.modal -->

<div class="widget-content">
   <table id ="datatable"  class="table table-bordered table-striped">
	<thead>
		<tr>
            <th scope="col">项目名称</th>
            <th scope="col">项目路径</th>
            <th scope="col">项目负责人</th>
            <th scope="col">用户RW+</th>
            <th scope="col">用户RW</th>
            <th scope="col">组RW+</th>
            <th scope="col">组RW</th>
            <th  scope="col">操作</th>
        </tr>
    </thead> 
    <tbody>
    </tbody>
   </table>
</div> <!--widget-content-->

</div> <!--widget-box end-->
{% endblock %}

{% block js %}

<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>
var name='git'
/* list all data */
function list(){
    var url = "/git/listapi?method="+name
    $.getJSON(url,function(data){
      // data = data['result']  //string
       data=JSON.parse(data['result']); //object 
//       console.log(data)   //Object {count: 3, code: 0, result: Array[3]}
       var count =  data['count']     
       var str = ''
       $.each(data.result,function(k,v){   //循环输出数组Array[3]的值
//           console.log(v)   //Object {idc_id: 1, u_num: 32, id: 1, power: "20A", name: "O04"} 
           str +='<tr class="odd gradeX">'+ 
           '<td>'+v['name']+'</td>'+  
           '<td>'+v['path']+'</td>'+  
           '<td>'+v['principal']+'</td>'+  
           '<td>'+v['user_all_perm']+'</td>'+ 
           '<td>'+v['user_rw_perm']+'</td>'+ 
           '<td>'+v['group_all_perm']+'</td>'+ 
           '<td>'+v['group_rw_perm']+'</td>'+ 
           '<td>'+
           '<button class="btn btn-primary btn-sm update-btn" data-id="'+v['id']+'">更新</button>'+
           '</td>'+ 
           '</tr>'          
       })       
         $("tbody").html(str)
		datatable()
    })
}
list()
/* DataTable */
function datatable(){
$('#datatable').DataTable({
	"bDestroy":true,
    "language": {
        "lengthMenu": "每页 _MENU_ 条记录",
        "zeroRecords": "没有找到记录",
        "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
        "infoEmpty": "无记录",
        "infoFiltered": "(从 _MAX_ 条记录过滤)",
        "sSearch": "搜索:",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "末页"
        }
    }
});
}
/*  add data */
/*click show modal*/
$('#addBtn').on('click',function(){
		$('#addModal').modal('show')
		userlist()
		grouplist()
})
/* add data for ajax */ 
$('#addForm').on('submit',function(){
	if($('#add_principal').val() == null || $('#add_principal').val() ==""){
			swal("OMG!", "你必须选择一个负责人", "error")
	}else{
	   var str = $('#addForm').serialize()
       var data = {"method":'git',"formdata":str}
	   $.post("/addapi",data,function(data){
	     //console.log(data)    //string
         data = JSON.parse(data)  //object
         data = JSON.parse(data['result']) //object
         if (data['code']==0){
			window.location.reload();
		    $('#addModal').modal('hide')
         }else{
		    $('#errorMsg').html('Failed: '+data['errmsg']).show()
         }
       })
		}
	   return false
})  //submit form

/*get one data from id for update*/
$('tbody').on('click','.update-btn',function(){
	var id = $(this).attr('data-id')
    var url = "/getapi?method="+name+"&id="+id
	selected('g_all_sel',id)
	selected('g_rw_sel',id)
	selected('u_all_sel',id)
	selected('u_rw_sel',id)
	selected('principal_sel',id)
	$.getJSON(url,function(data){
//	  console.log(data)  
      data = JSON.parse(data['result'])
      if (data['code']==0){
          $('#upid').val(data['result']['id'])
          $('#up_project_name').val(data['result']['name'])
		  $('#up_project_path').val(data['result']['path'])
		  $('#up_comment').val(data['result']['comment'])
		$('#updateModal').modal('show')  //show modal
      }else{
          alert(data['errmsg'])
      }
	})
})

/*update data*/
$('#updateForm').on('submit',function(){
var str = $('#updateForm').serialize()
var data = {'method':name,'formdata':str}
$.post('/updateapi',data, function(data){  // data is string
    data = JSON.parse(data)    //object
    data = JSON.parse(data['result']) //object
    if (data['code']==0){   
        alert(data['result'])
		window.location.reload();
        $('#updateModal').modal('hide')
        list()
    }else{
		$('#uperrorMsg').html('Failed: '+data['errmsg']).show()
    }
})
    return false   //get data and end
})  //submit form



//获得所有用户列表信息
function userlist(){
	var url = "/listapi?method=user"
	var str=""
	$.getJSON(url,function(data){
		data = JSON.parse(data.result)
		$.each(data.users, function(k,v){
			str += '<option value="' + v['id'] +'">' + v['username'] + '</option>'
		})
		$(".user_list").html(str)
		$(".user_list").multiselect({maxHeight:200, enableCaseInsensitiveFiltering: true})
		$(".user_list").multiselect('refresh')
	})
}

//获得所有组列表信息
function grouplist(){
    var url = "/listapi?method=groups"
    var str=""
    $.getJSON(url,function(data){
        data = JSON.parse(data.result)
        $.each(data.result, function(k,v){
            str += '<option value="' + v['id'] +'">' + v['name'] + '</option>'
        })
        $(".groups_list").html(str)
		$(".groups_list").multiselect({maxHeight:200, enableCaseInsensitiveFiltering: true})
        $(".groups_list").multiselect('refresh')
    })
}

//获取列表  已选上的标记
function selected(api,id){
	var url = "/getapi?method="+api+"&id="+id
	var up_id = "#up_"+api
	$.getJSON(url,function(data){
		var str=''
		data = JSON.parse(data.result)
        $.each(data.result,function(k,v){
            str +='<option value='+v['id']+" "+v['selected']+'>'+v['name']+
            '</option>'
        })
        $(up_id).html(str)
        $(up_id).multiselect({maxHeight:200, enableCaseInsensitiveFiltering: true})
        $(up_id).multiselect('refresh');
    })	
}
</script>
{% endblock %}
