<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="pragma" content="no-cache">
    <meta name="robots" content="index,follow">
    <meta name="Author" content="Yuanxin Inc.">
    <meta name="Keywords" content="ocr, miaoshou.com">
    <meta name="Description" content="Yuanxin Devops  System">

    <link type="image/x-icon" rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/user.login.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='sweetalert/dist/sweetalert.css')}}">
    
    <title>圆心Devops平台 - 管理员登陆</title>
    </head>
    <body>
        <div id="logo">
            <img src="{{url_for('static',filename='images/logo.png')}}" alt="logo">
        </div>
        <!--loginbox again-->
        <div id="loginbox">
            <form  accept-charset="UTF-8" method="POST"  autocomplete="off" id="loginform">
                <div style="display:block; padding-top:15px; height:26px; color:#FF0000;">
                    <div id="error_hint"></div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            <input type="text" name="user_mail" placeholder="邮箱地址">
                        </div>
                    </div>
                </div>   <!--end user_mail -->
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            <input type="password" name="user_pwd" placeholder="密码">
                        </div>
                    </div>
                </div>  <!--end user_pwd-->

                <div class="form-actions" style="margin-top:0px;">
                    <span class="pull-left">
                        <a href="#" class="flip-link" id="to-recover">忘记密码?</a>
                    </span>
                    <span class="pull-right">
                        <input type="submit" class="btn btn-inverse" id="submit_data_btn" value="登录">
                    </span>
                </div> <!--end form-action-->
            </form> <!--end form-->
        </div>
        <!--loginbox again-->

<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12">CopyRights 2015 (c) Yuanxin-inc.COM All Rights Reserved.</div>
</div>
<script type="text/javascript" src="{{url_for('static',filename='sweetalert/dist/sweetalert.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

<script type="text/javascript">
/* 忘记密码提示*/
$("#to-recover").click(function() {
    str="请联系系统管理员帮您重置密码.管理员邮箱：liuziping@yuanxin-inc.com"
    swal(str)
});

/*用户登录*/
$('#loginform').on('submit',function(){
    var str = $('#loginform').serialize()
    $.post('/login',str,function(data){
        data = JSON.parse(data)
        if (data['code']==0){
            location.href="/"
        }else{
            str = data['errmsg']
           swal({
                title: "Error",
                text:str,
                type:"error",
                confirmButtonText: "Cool"
            },function(){
                location.href="/login"
            }); 

            //alert(str)
        }
    })
        return false;

})

</script>


</body></html>
