{% extends "base.html" %}
{% block title %}查看仿真环境数据库{% endblock %}
{% block breadcrumb %}<a href="/phpmyadmin">查看数据库</a>{% endblock %}

{% block h1 %}查看仿真环境数据库{% endblock %}

<!--主体内容-->
{% block row %}
<div class="widget-box">
    <div><strong>点击需要访问的数据库</strong> </div>
<div class="widget-content">
    <div class="well" style="padding: 8px 0; margin-bottom: 0;">
        <label class="control-label"></label>
        {% if result %}
        <ul class="nav nav-list">
        {% for db in result %}
            <li><a href="{{ db.url }}" target="_blank">{{ db.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div> <!--widget-content  end -->

</div><!--widget-box end-->
{% endblock %}
{% block js %}
{% endblock %}
