{% extends "base.html" %}
{% block css %}
<link rel="stylesheet"type="text/css"href="/static/css/jquery.dataTables.min.css">
<style>   
.table th, .table td { 
text-align: center; 
}
.widget-content .dataTables_filter{
position:static;
}
</style>
{% endblock %}
{% block title %}测试发布{% endblock %}
{% block breadcrumb %}<a href="/project/testing">测试发布</a>{% endblock %}

<!--主体内容-->
{% block row %}

<div class="widget-box">
  <div class="widget-title">
	  <span class="icon"> <i class="icon-th"></i></span>
      <h5>测试发布</h5>
      <!--      <button style='float:right;' class="btn btn-primary btn-sm" id="addBtn">添加软资产</button>-->
    </div> 

<!--add modal-->                                                                                 
<div id="addModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">添加软资产</h4>
	  </div><!--modal-header end-->

      <div class="modal-body">
     <p hidden id="errorMsg" class="text-danger" style="color:red"></p> <!-- foe error msg-->
     <form class="form-horizontal" id="addForm">
     	<div class="form-group">
            <label class="control-label">资产类型</label>
     		 <div class="controls">
       		 	<input id="type"  type="text"  name="type" >
      		</div> 
       	</div> <!--add type end-->
     	<div class="form-group">
            <label class="control-label">厂商</label>
     		 <div class="controls">
       		 	<input id="manufacturer"  type="text"  name="manufacturer" >
      		</div> 
       	</div> <!--add manufacturer end-->
             <div class="form-group">
            <label class="control-label">采购时间</label>
      		<div class="controls">
       			<input id="store_date" type="date"  name="store_date" >
      		</div> 
		</div><!--add store_date end -->
        <div class="form-group">
            <label class="control-label">过期时间</label>
      		<div class="controls">
       			<input id="expire"  type="date"  name="expire" >
      		</div> 
		</div><!--add expire end -->
        <div class="form-group">
            <label class="control-label">备注</label>
      		<div class="controls">
                <textarea class="form-control" rows="3" id="remark" name="remark"></textarea>
                <!--	<input id="remark" type="text"  name="remark" >-->
      		</div> 
		</div><!--add remark end -->
    	<div class="form-group">
     		<div class="modal-footer">
                <button class="btn btn-primary" >添加</button>
				<button class="btn btn-warning" data-dismiss="modal">退出</button>
         	</div>
      </div><!--button end-->
    </form><!--form end-->

   </div> <!--modal body end-->
</div><!-- /.modal -->

<div class="widget-content">
   <table id ="datalist"  class="table table-bordered table-striped">
	<thead>
		<tr>
            <th scope="col">项目</th>
			<th scope="col">测试主机</th>
            <th scope="col">最近发布人</th>
            <th scope="col">最近发布时间</th>
            <th scope="col">备注</th>
            <th scope="col">操作</th>
        </tr>
    </thead> 
    <tbody>
        {% if result %}
        {% for p_id,p_name in result.iteritems() %}
        <tr>
            <td class="p_name">{{ p_name }}</td>
            <td class="host">{{ resip[p_name] }}</td>
            <td class="pusher">zhangxunan</td>
            <td class="push_date">2016-03-23 10:16:10</td>
            <td class="comment">测试</td>
            <td>
                <button class="btn btn-primary btn-sm online-btn" data-id='{{ p_id }}' data='{{ p_name }}' >上线</button>
                <button class="btn btn-primary btn-sm details-btn" data-id='{{ p_id }}' data='{{ p_name }}'>上线记录</button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
   </table>
</div> <!--widget-content-->

</div> <!--widget-box end-->
{% endblock %}

{% block js %}

<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>
var name=window.location.pathname.split('/').pop()
function datatable(){
$('#datalist').DataTable({
   "bDestroy":true,
   "language": {
        "lengthMenu": "每页 _MENU_ 条记录",
        "zeroRecords": "没有找到记录",
        "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
        "infoEmpty": "无记录",
        "infoFiltered": "(从 _MAX_ 条记录过滤)",
        "sSearch": "搜索:",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "末页"
            }
        }  
    })
}
/* list all data */
function list(){
    var name="lastest_record"
    var url = "/listapi?method="+name
    $.getJSON(url,function(data){
      // data = data['result']  //string
       data=JSON.parse(data['result']); //object 
       console.log("data =",data)   //Object {count: 3, code: 0, result: Array[3]}
       $.each(data.result,function(k,v){   //循环输出数组Array[3]的值
            console.log(v)
            var parent=$("[data-id="+v.project_id+"]").parents('tr');  //找到project_id 对应的列 
            for(var i in v){
                parent.find("."+i).html(v[i]);  //将第一组数据根据对应的class名渲染数据
            }
       })       
    })
}
list()
$("tbody").on('click','.online-btn',function(){
   var  project_id = $(this).attr('data-id')
   var parent = $("[data-id="+project_id+"]").parents('tr');
   var host = parent.find(".host").html();
   var pusher = '{{ info.username }}'
   var comment = parent.find(".comment").html();
   str = "project_id="+project_id+"&host="+host+"&pusher="+pusher+"&comment="+comment
   var data = {"method":"project_test","formdata":str}
   $.post("/addapi",data,function(data){
       data = JSON.parse(data)
       data = JSON.parse(data['result'])
       if (data['code']==0){
           console.log("添加记录成功")
            list()
            location.reload()
       }else{
		    $('#errorMsg').html('Failed: '+data['errmsg']).show()
       }
   })
})

</script>
{% endblock %}
