{% extends "base.html" %}
{% block title %}添加用户{% endblock %}
{% block breadcrumb %}<a href="/user/add">添加用户</a>{% endblock %}

{% block h1 %}添加用户{% endblock %}

<!--主体内容-->
{% block row %}
<div class="widget-box">
   <div class="widget-title"> 
      <span class="icon"> <i class="icon-info-sign"></i> </span>
      <h5>添加用户</h5>
   </div> <!--end widget-title-->

   <div class="widget-content">
     
       <form class="form-horizontal" id="user_signup_form" accept-charset="UTF-8" method="POST" autocomplete="off" novalidate="novalidate">
    <div class="control-group">
        <label class="control-label">角色：</label>
        <div class="controls">
            <select name='role' id='role' style='width:120px'> 
                <option value=0>超级管理员</option>
                <option value=1>普通用户</option>
            </select>
        </div>
    </div>
	<div class="control-group">
		<label class="control-label">所属组</label>
		<div id="r_id" class="controls">
		</div>
	</div>
    <div class="control-group">
        <label class="control-label">用户名：</label>
        <div class="controls">
            <input type="text" name="username" id="username"/>
            <input type="hidden" id="user_name_status" value="0" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">姓名：</label>
        <div class="controls">
            <input  type="text" name="user_name" id="user_name" />
            <input type="hidden" id="user_name_status" value="0" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">E-mail：</label>
        <div class="controls">
            <input  type="email" ng-model="user.email" name="user_mail" id="user_mail" />
            <input type="hidden" id="user_mail_status" value="0" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">手机：</label>
        <div class="controls">
            <input type="text" name="user_phone" id="user_phone" />
            <input type="hidden" id="user_phone_status" value="0" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">状态：</label>
        <div class="controls">
            <select name='lock' id='lock' style='width:120px'> 
                <option value=0>正常</option>
                <option value=1>锁定</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">登录密码：</label>
        <div class="controls">
            <input  type="password" name="user_pwd" id="user_pwd" />
            <input type="hidden" id="user_pwd_status" value="0" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">重复输入密码：</label>
        <div class="controls">
            <input  type="password" name="user_repwd" id="user_repwd" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" href="javascript:void(0);" id="submit_data_btn" value="确定添加" class="btn btn-success global_radius_4">
    </div>
    </form> 
       
       
  </div> <!--widget-content  end -->
</div><!--widget-box end-->
{% endblock %}

{% block js %}
<script>
$("#submit_data_btn").on('click',function(){
    var str = $('#user_signup_form').serialize()
	console.log(str)
    var url = 'http://192.168.1.243:1001/user/add'
    $.post(url,str,function(data){ 
        data=JSON.parse(data);   //将json串转换为对象，然后取值
        if (data['code']==0){
            alert("创建用户成功")
			window.location='/user/list'
        }else{
            alert("创建用户失败," + data['errmsg'])
        }
    })
})

$("form :input.required").each(function(){
    var $required = $("<strong class='high'> *</strong>"); //创建元素
    $(this).parent().append($required); //然后将它追加到文档中
});

function list(){
	var url = "/listapi?method=groups"
	$.getJSON(url, function(data){
		data=JSON.parse(data['result'])
		console.log(data)	
		var count = data['count']
		var str = ''
		$.each(data.result, function(k,v){
			console.log(v)
			str += '<label class="checkbox inline"><input type="checkbox"'+
				'name="r_id" value='+v['id']+'>'+v['name']+'</label>'
		})
		$("#r_id").html(str)
})
}
list()

</script>
{% endblock %}
