{% extends "base.html" %}
{% block title %}个人资料修改{% endblock %}
{% block breadcrumb %}<a href="/user/edit">个人资料修改</a>{% endblock %}

{% block h1 %}个人资料修改{% endblock %}

<!--主体内容-->
{% block row %}
<div class="widget-box">
   <div class="widget-title"> 
      <span class="icon"> <i class="icon-info-sign"></i> </span>
      <h5>个人资料修改</h5>
   </div> <!--end widget-title-->

   <div class="widget-content">

     <form class="form-horizontal" id="edit_profile_form" accept-charset="UTF-8" method="POST" autocomplete="off" novalidate="novalidate">
         <input type="hidden" id="edit_profile_token" value="60e2259b432adee160845b466cd2b1f1" />
         <div class="control-group">
              <label class="control-label">登录账号：</label>
              <div class="controls">
                  <span style="display:block; padding-top:4px;color:#888;">{{user['username']}}</span>
              </div>
         </div> <!--end zhanghao-->
         <div class="control-group">
               <label class="control-label">姓名：</label>
               <div class="controls">
                   <input type="text" name="user_name" id="user_name" value='{{user['name']}}' />
                    <span for="required" generated="true" class="help-inline"></span>
                </div>
         </div> <!--end name-->
         <div class="control-group">
             <label class="control-label">E-mail：</label>
               <div class="controls">
                   <input type="text" name="user_email" id="user_email" value='{{user['email']}}' />
                    <span for="required" generated="true" class="help-inline"></span>
                </div>
         </div> <!--end email-->

         <div class="control-group">
            <label class="control-label">联系电话：</label>
            <div class="controls">
                <input type="text" name="user_mobile" id="user_mobile" value="{{user['mobile']}}" />
                <span for="required" generated="true" class="help-inline"></span>
            </div>
         </div>   <!--end phone-->
         <div class="form-actions">
            <input type="button" href="javascript:void(0);" id="submit_edit_profile" value="确定修改" class="btn btn-success global_radius_4">
         </div>  <!--end button-->
     </form>

 </div> <!--widget-content  end -->
</div><!--widget-box end-->
{% endblock %}
{% block js %}
<script>
$('#submit_edit_profile').on('click',function(){
    var str = $('#edit_profile_form').serialize()
    var url = '/user/updateoneself?'+str
    $.getJSON(url,function(result){
        console.log(result)
        if (result['code']==0){   //recevie json object
            alert("更新成功")
        }else{
            $('#errorMsg').html('failed '+result['errmsg']).show()
        }
    })
})
</script>
{% endblock%}
