{% extends "base.html" %}
{% block title %}用户列表{% endblock %}
{% block css %}
<link rel="stylesheet"  href="/static/css/jquery.dataTables.min.css">
<style>
.widget-content .dataTables_filter{position:static;}
</style>
{% endblock%}
{% block breadcrumb %}<a href="/user/list">用户列表</a>{% endblock %}

{% block h1 %}用户列表{% endblock %}

<!--主体内容-->
{% block row %}
<div class="widget-box">
  <div class="widget-title">
	  <span class="icon"> <i class="icon-th"></i></span>
      <h5>用户列表</h5>
  </div> <!--end widget-title-->

<!--update modal-->                                                                                 
<div id="updateModal" class="modal hide fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">更新用户信息</h4>
	  </div><!--modal-header end-->

      <div class="modal-body">
      <p hidden id="errorMsg" class="text-danger" style="color:red">this is a test</p> <!-- foe error msg-->

     <form class="form-horizontal" id="updateForm">
        <input type="hidden" id='id' name="id">  <!--update need id-->
     	<div class="form-group">
            <label class="control-label">姓名</label>
     		 <div class="controls">
       		 	<input id="upname"  type="text"  name="name" >
      		</div> 
       	</div> <!--update name end-->
     	<div class="form-group">
            <label class="control-label">用户名</label>
     		 <div class="controls">
       		 	<input id="upusername"  type="text"  name="username" >
      		</div> 
       	</div> <!--update username end-->
        <div class="form-group">
            <label class="control-label">E-mail</label>
      		<div class="controls">
       			<input id="upemail" type="text"  name="email" >
      		</div> 
		</div><!--update email  end -->
        <div class="form-group">
            <label class="control-label">手机</label>
      		<div class="controls">
       			<input id="upmobile" type="text"  name="mobile" >
      		</div> 
		</div><!--update mobile  end -->
 		<div class="form-group">
			<label class="control-label">角色</label>
      		<div class="controls">
       			<select name="role"  id="uprole">
					<option value="0">超级管理员</option> 
					<option value="1">普通用户</option> 
				</select> 
      		</div> 
    	</div><!--update role end-->
        <div class="form-group">
			<label class="control-label">状态</label>
      		<div class="controls">
       			<select name="lock" id="uplock">
					<option value="0">正常</option> 
					<option value="1">锁定</option> 
				</select> 
      		</div> 
		</div><!--update lock  end -->
		<div class="form-group">
			<label class="control-label">用户组</label>
			<div class="controls">
				<select name='r_id' multiple='multiple' id='r_id'>
				</select>
			</div>
		</div>
    	<div class="form-group">
     		<div class="modal-footer">
				<button class="btn btn-primary" >更新</button>
				<button class="btn btn-warning" data-dismiss="modal">退出</button>
         	</div>
      </div><!--button end-->

    </form><!--form end-->
   </div> <!--modal body end-->
 </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="ChangePasswdModal" class="modal hide fade">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">更改用户密码</h4>
	  </div><!--modal-header end-->

      <div class="modal-body">
      <p hidden id="errorMsg" class="text-danger" style="color:red">更改用户密码</p> <!-- foe error msg-->

     <form class="form-horizontal" id="ChangePasswdForm">
        <input type="hidden" id='passwdid' name="passwdid">  <!--update need id-->
     	<div class="form-group">
            <label class="control-label">新密码</label>
     		 <div class="controls">
       		 	<input id="changepasswd"  type="password"  name="changepasswd" >
      		</div> 
        </div>
    	<div class="form-group">
     		<div class="modal-footer">
				<button class="btn btn-primary" >更新</button>
				<button class="btn btn-warning" data-dismiss="modal">退出</button>
         	</div>
      </div><!--button end-->
     </form>
      </div>
</div>

<div id="getpowerinfo" class="modal hide fade">
</div>

  <div class="widget-content">

   <table id ="datatable"  class="table table-bordered table-striped">
	<thead>
		<tr>
            <th scope="col">用户名</th>
			<th scope="col">姓名</th>
			<th scope="col">E-mail</th>
			<th scope="col">手机</th>
			<th scope="col">状态</th>
            <th scope="col">角色</th>
            <th  scope="col">操作</th>
		</tr>
	</thead>
	<tbody>
        {% for user in users %}
		<tr  class="odd gradeX">
            <td>{{user['username']}}</td>
            <td>{{user['name']}}</td>
            <td>{{user['email']}}</td>
            <td>{{user['mobile']}}</td>
            <td><span style="color:#5EDF47;">{%if user['is_lock']==1%}锁定{%else%}正常{%endif%}</span></td>
            <td>{%if user['role']==0 %}超级管理员{%else%}普通用户{% endif %}</td>
			<td>
				<a class='btn btn-info btn-sm' href="/power/user?id={{user['id']}}">查看权限</a>
           <!--     <button  class='btn btn-info btn-sm powerinfo-btn' data-id='{{user['id']}}'>查看权限</button> --!>
                <button  class='btn btn-info btn-sm update-btn' data-id='{{user['id']}}'>更新</button>
                <button  class='btn btn-primary btn-sm passwd-btn' data-id='{{user['id']}}'>修改密码</button>
                <button  class='btn btn-danger btn-sm delete-btn' data-id='{{user['id']}}'>删除</button>
			</td>
		</tr>
        {% endfor %}										
	</tbody>
   </table>

 </div> <!--widget-content  end -->
</div><!--widget-box end-->
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
    $('#datatable').DataTable({
        "language": {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
            "infoEmpty": "无记录",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "sSearch": "搜索:",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "末页"
            }
        }
    });
});
/*get data for update */
$("tbody").on('click','.update-btn',function(){
    var id = $(this).attr('data-id')
    var getbyid = "/getbyid?id="+id
    $('#updateModal').modal('show')  //show modal
    $.getJSON(getbyid,function(result){
      console.log(result)//for test
      if (result['code']==0){
          $('#id').val(result['user']['id']) 
          $('#upname').val(result['user']['name']) 
          $('#upusername').val(result['user']['username']) 
          $('#upemail').val(result['user']['email']) 
          $('#upmobile').val(result['user']['mobile']) 
          $('#uprole').val(result['user']['role']) 
          $('#uplock').val(result['user']['is_lock']) 
      }else{
         $('#errorMsg').html('failed '+result['errmsg']).show()
      }
    })
    
})
/*update */
$('#updateForm').on('submit',function(){
       var str = $('#updateForm').serialize()
       var url = '/user/update?'+str
       $.getJSON(url,function(result){
			 console.log(result)
			 if (result['code']==0){   //recevie json object
                alert("更新成功")
				$('#updateModal').modal('hide')
                location.reload()
			 }else{
				//alert('failed  '+result['msg'])
				 $('#errorMsg').html('failed '+result['errmsg']).show()
			}
       })
       return false   //update data and end
})    
/*update passwd*/
$("tbody").on('click','.passwd-btn',function(){
    var id = $(this).attr('data-id')
    $('#passwdid').val(id) 
    $('#ChangePasswdModal').modal('show')
})

$('#ChangePasswdForm').on('submit',function(){
    var str = $('#ChangePasswdForm').serialize()
    var url = '/user/changepasswd'
    $.post(url,str,function(result){
        result = JSON.parse(result)
        if (result['code']==0){
            alert("密码更新成功")
            $('#ChangePasswdModal').modal('hide')
        }else{
            $('#errorMsg').html('failed '+result['errmsg']).show()
        }
    })
    return false
})
/*delete data*/
$("tbody").on('click','.delete-btn',function(){
	if(confirm("Are you sure delete")){
        var that = this;
		var id = $(this).attr('data-id')
		var delete_url = '/user/delete?id='+id
		$.getJSON(delete_url,function(result){
			if (result['code']== 0 ){
				alert('success')
                $(that).parents('tr').remove();
			}else{
				alert(result['errmsg'])
			}
    	})
    }  // end confirm
})   

// getpower info
$("tbody").on('click','.powerinfo-btn', function(){
	$('#getpowerinfo').modal('show')
	var id = $(this).attr('data-id')
	var getinfo_url = '/getapi?method=user_perm&id='+id
	$.getJSON(getinfo_url, function(data){
		data = JSON.parse(data['result'])
//		alert(data['count'])
		console.log(data.result)
		str = ''
		$.each(data.result, function(k,v){
//			alert(v)
			str += '<tr>'+
					'<td>'+v['name_cn']+'</td>'+
					'<td>'+v['name']+'</td>'+
					'<td>'+v['url']+'</td>'
					'<td>'+v['info']+'</td>'+
					'</tr>'
		})
		$("#getpowerinfo").html(str)
	})
})

//get usr groups for update
function user_groups(){
	var name = "groups"
	var url = "/listapi?method="+name
	$.getJSON(url, function(data){
		data=JSON.parse(data['result'])
		console.log(data)
		var str=''
		$.each(data.result, function(k,v){
			console.log(k,v)
			str +='<option value='+v['id']+'>'+v['name']+
			'</option>'
		})
		console.log(str)
		$("#r_id").html(str)
	})
}

user_groups()
</script>
{% endblock %}
