{% extends "base.html" %}
{% block title %}添加用户{% endblock %}
{% block breadcrumb %}<a href="/user/add">添加用户</a>{% endblock %}

{% block h1 %}添加用户{% endblock %}

<!--主体内容-->
{% block row %}
<div class="widget-box">
   <div class="widget-title"> 
      <span class="icon"> <i class="icon-info-sign"></i> </span>
      <h5>添加用户</h5>
   </div> <!--end widget-title-->

   <div class="widget-content">
     
    <form class="form-horizontal" id="user_signup_form" accept-charset="UTF-8" method="POST" autocomplete="off" novalidate="novalidate">
    <div class="control-group">
        <label class="control-label">用户类型：</label>
        <div class="controls">
            <select name='role' id='role' style='width:120px'> 
                <option value=1>超级管理员</option>
                <option value=2>普通管理员</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">E-mail地址：</label>
        <div class="controls">
            <input type="text" name="user_mail" id="user_mail" />
            <input type="hidden" id="user_mail_status" value="0" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">姓名：</label>
        <div class="controls">
            <input type="text" name="user_name" id="user_name" />
            <input type="hidden" id="user_name_status" value="0" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">联系电话：</label>
        <div class="controls">
            <input type="text" name="user_phone" id="user_phone" />
            <input type="hidden" id="user_phone_status" value="0" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">登录密码：</label>
        <div class="controls">
            <input type="password" name="user_pwd" id="user_pwd" />
            <input type="hidden" id="user_pwd_status" value="0" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">重复输入密码：</label>
        <div class="controls">
            <input type="password" name="user_repwd" id="user_repwd" />
            <span for="required" generated="true" class="help-inline"></span>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" href="javascript:void(0);" id="submit_data_btn" value="确定添加" class="btn btn-success global_radius_4">
    </div>
    </form> 
       
       
  </div> <!--widget-content  end -->
</div><!--widget-box end-->
{% endblock %}
